# Terraform files
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI
.terraform/
.terraform.lock.hcl

# Local environment files
terraform.tfvars
terraform.tfvars.json

# Directory for Plan output files
*.tfplan

# Ignore any .terraformrc and .terraform.d directories
.terraformrc
terraform.rc
.terraform.d/

# SSH keys
*.pem
*.key

# Sensitive data
secrets.auto.tfvars

